{% extends 'base.html.twig' %}

{% block title %}Instagram{% endblock %}

{% block body %}
    <header>
        {% if is_granted 'ROLE_USER' %}
            <a href="{{ path('app_logout') }}">Logout</a>
            <a href="{{ path('') }}">New Post</a>
        {% endif %}
    </header>
{% endblock %}
